html {
    box-sizing: border-box;
}

*,
*::after,
::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

body {
    color: #000000;
    font-family: 'RobotoRegular', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

/*---Header---*/

.header {
    background: #EEEEEE;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48.9px 0 0 0;
}

.logo-link__images:active {
  opacity: 0.3;
}

.menu {
  padding: 16px 43px 0px 0px;
}

.menu__list {
    display: flex;
}

.item {
    margin: 0 22.5px;
}

.item__link {
    text-transform: uppercase;
    color: #000000;
    font-family: 'RobotoMedium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}

.item__link:hover {
    color: #FB565A;
}

.item__link:active {
    color: #000000;
    opacity: 0.3;
}

.link-basket {
    text-transform: uppercase;
    color: #000000;
    font-family: 'RobotoMedium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    padding: 12px 40px 0 0;
}

.link-basket:hover {
    color: #FB565A;
}

.link-basket__title:active {
    color: #000000;
    opacity: 0.3;
}

.link-basket__icons {
    margin:0 24.8px 0 0;
}

.item_active {
  border-bottom: 2px solid #FB565A;
  padding-bottom: 4px;
}

/*--/Header--*/

/*--Section Top--*/

.top {
  background-color: #EEEEEE;
  
}

.top__heading {
  display: flex;
  height: 432px;
}

.content__title {
  font-family: 'RobotoMedium', sans-serif;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding-top: 69px;
  margin-bottom: 30.5px;
}

.content__text {
  font-family: 'RobotoRegular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 51px;
}

.aplication__btn {
  text-transform: uppercase;
  color: #ffff;
  background-color: #FB565A;
  border-radius: 3px;
  padding: 17px 54px 15px;
}

.aplication__btn:hover {
  background-color: #E74246;
}

.aplication__btn:active {
  border-color: #D7373B;
  opacity: 0.3;
}

.slider__images {
  padding-right: 42.9px;
}

.slider__item {
  
  
}

.slider {
  position: relative;
}

.slider-selector {
  display: flex;
  position: absolute;
  bottom: 100px;
  left: 127px;
}

label {
  position:relative;
  width:18px;
  height:18px;
  margin:4px;
}
input {
  width:1px;
  height:1px;
  
}
label::febore {
  display:none;
}
label::before {
  position:absolute;
  top:0;
  left:0;
  content: '';
  width:18px;
  height:18px;
  border-radius:10px;
  border: 2px solid #FFFFFF;
  background:#FFFFFF;
}
input:checked + label::after {
  display:block;
  position:absolute;
  top:5px;
  left:5px;
  content: '';
  width:8px;
  height:8px;
  border-radius:10px;
  border: 3px solid #C1C1C1;
  background:#ffff;
}

/*--/section Top--*/
/*--Productions--*/
.productions__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 95px;
  border-bottom: 2px solid #EEEEEE;
}

.productions__title {
  font-family: 'RobotoBold', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 25px;
  padding-bottom: 16px;
}
.productions__text {
  font-family: 'RobotoRegular', sans-serif;
  font-weight: 400;
  color: #283136;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 32px;
}

.sites__btn {
  text-transform: uppercase;
  color: #ffff;
  background-color: #FB565A;
  border-radius: 3px;
  padding: 17px 40px 15px;
}
.sites__btn:hover {
  background: #E74246;
}
.sites__btn:active {
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.4;
}
.applications__btn {
  text-transform: uppercase;
  color: #ffff;
  background-color: #00CA74;
  border-radius: 3px;
  padding: 17px 40px 15px;
}
.applications__btn:hover {
  background: #00BC6C;
}
.applications__btn:active {
  background: #00AA62;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.4;
}
.presentations__btn {
  text-transform: uppercase;
  color: #ffff;
  background-color: #EFC849;
  border-radius: 3px;
  padding: 17px 40px 15px;
}
.presentations__btn:hover {
  background: #EAB534;
}
.presentations__btn:active {
  background: #E5A722;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.4;
}
/*--/Productions--*/
/*---Footer---*/

.footer {
  padding-bottom: 68px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 68px;
  align-items: center;
}

.socials__item {
  display: flex;
  float: left;
  margin-right: 9px;
}

.link-social:hover {
  background-color: #E74246;
}

.link-social:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.8;
}

.socials__item--vk::after {
    content: " ";
    background: url(../img/svg/vk-icon.svg);
    background-repeat: no-repeat;
    position: absolute;
    /*left: 385px;
    top: 230px;*/
    margin-left: 26px;
    margin-top: 32px;
    width: 30px;
    height: 20px;
}

.socials__item--fb::after {
  content: " ";
  background: url(../img/svg/fb-icon.svg);
  background-repeat: no-repeat;
  margin-left: 34px;
  margin-top: 29.5px;
  position: absolute;
  width: 20px;
  height: 26px;
}
.socials__item--in::after {
  content: " ";
  background: url(../img/svg/insta.svg);
  background-repeat: no-repeat;
  margin-left: 29.5px;
  margin-top: 29.5px;
  position: absolute;
  width: 22px;
  height: 22px;
}
.link-social {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background: #E1E1E1;
    position: relative;
}

.discount {
  padding-right: 60.5px;
}

.discount-title {
  font-family: 'RobotoBold', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.discount-sale {
  padding-top: 10px;
  color: #444444;
  font-size: 16px;
  line-height: 22px;
}

/*--/Footer--/