html {
  box-sizing: border-box;
}

*,
*::after,
::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  color: #000000;
  font-family: "OpensansRegular", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/*--Footet--*/
.footer {
  background-color: #464646;
  width: 100%;
  height: 323px;
}
.inner {
  display: flex;
  justify-content: space-between;
}
.logo-link {
  font-family: "GilroyextraBold", sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #ffc600;
  margin-top: 65px;
}
.logo-link:hover {
  opacity: 0.6;
}
.logo-link:active {
  opacity: 0.3;
}

.inner__footer {
  margin-bottom: 30px;
}
.inner__footer--list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  margin-top: 65px;
}
.item__user,
.item__compare,
.item__basket {
  opacity: 0.7;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #ffffff;
  opacity: 0.7;
}
.item__user:hover,
.item__compare:hover,
.item__basket:hover {
  opacity: 0.9; 
  
}
.item__user:active,
.item__compare:active,
.item__basket:active {
  opacity: 0.3;
}
.item {
  padding-left: 55px;
  background-color: #464646;
}
#cart {
  fill: #ffc600;
}
#user {
  fill: #ffc600;
}
#compare {
  fill: #ffc600;
}


.adress__list {
  display: flex;
  list-style: none;
}
.advantage {
  margin-bottom: 70px;
}

.advantage__deliveri,
.advantage__quality,
.advantage__contacts {
  color: #ffffff;
  padding-right: 38px;
  font-family: "GilroyextraBold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
}
.advantage__deliveri:hover,
.advantage__quality:hover,
.advantage__contacts:hover {
  opacity: 0.6;
}
.advantage__deliveri:active,
.advantage__quality:active,
.advantage__contacts:active {
  opacity: 0.3;
}

.adress {
  display: flex;
  justify-content: space-between;
}
.adress__list {
  list-style: none;
  margin-top: 5px;
}
.adress__title--link,
.adress__phone--link {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
}
.adress__phone {
  margin-right: 37px;
}

.social {
  display: flex;
  justify-content: space-between;
}
.social__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}



.icons {
  margin-left: 23px;
}
#facebuk {
  fill: #7e7e7e;
}
a svg:hover #facebuk {
  fill: #b5b5b5;
}
a svg:active #facebuk {
  fill: #595959;
}
#insta,
#insta-rect,
#insta-color,
#insta-corcl {
  fill: #7e7e7e;
}
a svg:hover #insta,
a svg:hover #insta-rect,
a svg:hover #insta-color,
a svg:hover #insta-corcl {
  fill: #b5b5b5;
}
a svg:active #insta,
a svg:active #insta-rect,
a svg:active #insta-color,
a svg:active #insta-corcl {
  fill: #595959;
}
#tviter {
  fill: #7e7e7e;
}
a svg:hover #tviter {
  fill: #b5b5b5;
}
a svg:active #tviter {
  fill: #595959;
}
.social__decoration {
  position: relative;
}
.social__decoration::after {
  content: "";
  width: 80px;
  height: 7px;
  display: block;
  position: absolute;
  top: 12px;
  background-color: #ffc600;
}
.social__logo-academi {
  margin-right: 35px;
}
#logo-html {
  fill: #ffc600;
}
a svg:hover #logo-html {
  opacity: 0.6;
}
a svg:active #logo-html {
  opacity: 0.3;
}
/*--/Footet--*/
