html {
    box-sizing: border-box;
}

*,
*::after,
::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

body {
    color: #000000;
    font-family: 'RobotoRegular', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

/*---Header---*/

.header {
    background: #EEEEEE;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48.9px 0 0 0;
}

.logo-link__images:active {
  opacity: 0.3;
}

.menu {
  padding: 16px 43px 0px 0px;
}

.menu__list {
    display: flex;
}

.item {
    margin: 0 22.5px;
}

.item__link {
    text-transform: uppercase;
    color: #000000;
    font-family: 'RobotoMedium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
}

.item__link:hover {
    color: #FB565A;
}

.item__link:active {
    color: #000000;
    opacity: 0.3;
}

.link-basket {
    text-transform: uppercase;
    color: #000000;
    font-family: 'RobotoMedium', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    padding: 12px 40px 0 0;
}

.link-basket:hover {
    color: #FB565A;
}

.link-basket__title:active {
    color: #000000;
    opacity: 0.3;
}

.link-basket__icons {
    margin:0 24.8px 0 0;
}

.item_active {
  border-bottom: 2px solid #FB565A;
  padding-bottom: 4px;
}

/*--/Header--*/

/*--Section Top--*/

.top {
  background-color: #EEEEEE;
  
}

.top__heading {
  display: flex;
  height: 432px;
}

.content__title {
  font-family: 'RobotoMedium', sans-serif;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding-top: 69px;
  margin-bottom: 30.5px;
}

.content__text {
  font-family: 'RobotoRegular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 51px;
}

.aplication__btn {
  text-transform: uppercase;
  color: #ffff;
  background-color: #FB565A;
  border-radius: 3px;
  padding: 17px 54px 15px;
}

.aplication__btn:hover {
  background-color: #E74246;
}

.aplication__btn:active {
  border-color: #D7373B;
  opacity: 0.3;
}

.slider__images {
  padding-right: 42.9px;
}

.slider__item {
  
  
}

.slider {
  position: relative;
}

.slider-selector {
  display: flex;
  position: absolute;
  bottom: 100px;
  left: 127px;
}

label {
  position:relative;
  width:18px;
  height:18px;
  margin:4px;
}
input {
  width:1px;
  height:1px;
  
}
label::febore {
  display:none;
}
label::before {
  position:absolute;
  top:0;
  left:0;
  content: '';
  width:18px;
  height:18px;
  border-radius:10px;
  border: 2px solid #FFFFFF;
  background:#FFFFFF;
}
input:checked + label::after {
  display:block;
  position:absolute;
  top:5px;
  left:5px;
  content: '';
  width:8px;
  height:8px;
  border-radius:10px;
  border: 3px solid #C1C1C1;
  background:#ffff;
}

/*--/section Top--*/
/*--Productions--*/
.productions__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 95px;
  border-bottom: 2px solid #EEEEEE;
}

.sites__title, .applications__title, .presentations__title {
  font-family: 'RobotoBold', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 25px;
  padding-bottom: 16px;
}
.sites__text, .applications__text, .presentations__text {
  font-family: 'RobotoRegular', sans-serif;
  font-weight: 400;
  color: #283136;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 32px;
}

.sites__btn {
  text-transform: uppercase;
  color: #ffff;
  background-color: #FB565A;
  border-radius: 3px;
  padding: 17px 40px 15px;
}
.sites__btn:hover {
  background: #E74246;
}
.sites__btn:active {
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.4;
}
.applications__btn {
  text-transform: uppercase;
  color: #ffff;
  background-color: #00CA74;
  border-radius: 3px;
  padding: 17px 40px 15px;
}
.applications__btn:hover {
  background: #00BC6C;
}
.applications__btn:active {
  background: #00AA62;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.4;
}
.presentations__btn {
  text-transform: uppercase;
  color: #ffff;
  background-color: #EFC849;
  border-radius: 3px;
  padding: 17px 40px 15px;
}
.presentations__btn:hover {
  background: #EAB534;
}
.presentations__btn:active {
  background: #E5A722;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.4;
}
/*--/Productions--*/

/*--about-us--*/
.about-inner {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #EEEEEE;
}
.rate__inner {
  display: flex;
}
.studios__title {
  font-family: 'RobotoBold', sans-serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  padding-bottom: 32px;
}
.studios__text {
  font-family: 'RobotoRegular', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 40px;
}
.list-title {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #283136;
}
.precision {
  padding-top: 39px;
}
.studios {
  padding-top: 73px;
}

.studios__list {
  list-style: none;
}
.list__item {
  margin: 23px;
  position: relative;
}
.list__item::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: -30px;
  border-radius: 30px;
  background-color: #FB565A;
}

.precision__title {
  font-family: 'RobotoRegular', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-top: 37px;
}

.rate {
  margin-top: 31px;
  margin-right: 40px;
}
.rate__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 64px;

}
.rate__title--procent {
  vertical-align: top;
  font-weight: 500;
  font-size: 26px;
  line-height: 40px;
}
.rent__text {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
  padding-bottom: 75px;
}



/*--/about-us--*/

/*--examples--*/
.example__inner {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #EEEEEE;
  padding: 46px 44px;
  
}
.mishka {
  position: relative;
}
.mishka::before {
  content: '';
  display: block;
  width: 2px;
  height: 52px;
  position: absolute;
  top: 20px;
  left: -50px;
  border-radius: 30px;
  background-color: #EEEEEE;
}
.borodinski {
  position: relative;
}
.borodinski::before {
  content: '';
  display: block;
  width: 2px;
  height: 52px;
  position: absolute;
  top: 20px;
  left: -50px;
  border-radius: 30px;
  background-color: #EEEEEE;
}  
.pink {
  position: relative;
}
.pink::after {
  content: '';
  display: block;
  width: 2px;
  height: 52px;
  position: absolute;
  top: 20px;
  left: -50px;
  border-radius: 30px;
  background-color: #EEEEEE;
}
.mishka:hover {
  background:url(../img/logo/mishka2.svg);
  background-repeat: no-repeat;
}
.pink:hover {
  background:url(../img/logo/pink2.svg);
  background-repeat: no-repeat;
}
.borodinski:hover {
  background:url(../img/logo/borodinski2.svg);
  background-repeat: no-repeat;
}
.academy:hover {
  background:url(../img/logo/academy2.svg);
  background-repeat: no-repeat;
}
.mishka:active {
  opacity: 0.1;
}
.pink:active {
  opacity: 0.1;
}
.borodinski:active {
  opacity: 0.1;
}
.academy:active {
  opacity: 0.1;
}

/*--/examples--*/

/*--Map--*/
.map__inner {
  background: url(../img/bg/map.png);
  display: flex;
  height: 416px;
  padding-top: 54px;
  padding-left: 140px;
}
.adress {
  position: relative;
  top: 20px;
  width: 319px;
  height: 308px;
  background-color: #FFFFFF;
}

.adress__btn {
  text-transform: uppercase;
  color: #ffff;
  background-color: #FB565A;
  border-radius: 3px;
  padding: 17px 44px 15px;
  position: relative;
  top: 50px;
  left: 50px;
}
.adress__btn:hover {
  background-color: #E74246;
}
.adress__btn:active {
  border-color: #D7373B;
  opacity: 0.3;
}
.adress__link--text,
.adress__phone {
  color: #666666;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-left: 50px;
  margin-bottom: 15px;
}
.adress__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  margin-top: 49px;
  margin-left: 50px;
  margin-bottom: 22px;
}

.marker {
  padding-left: 364px;
  padding-top: 32px;
}


/*--/Map--*/

/*---Footer---*/

.footer {
  padding-bottom: 68px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 68px;
  align-items: center;
}

.list {
  display: flex;
  float: left;
  margin-right: 9px;
}

.list__link:hover {
  background-color: #E74246;
}

.list__link:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.8;
}

.list--vk::after {
    content: " ";
    background: url(../img/svg/vk-icon.svg);
    background-repeat: no-repeat;
    position: absolute;
    /*left: 385px;
    top: 230px;*/
    margin-left: 26px;
    margin-top: 32px;
    width: 30px;
    height: 20px;
}

.list--fb::after {
  content: " ";
  background: url(../img/svg/fb-icon.svg);
  background-repeat: no-repeat;
  margin-left: 34px;
  margin-top: 29.5px;
  position: absolute;
  width: 20px;
  height: 26px;
}
.list--in::after {
  content: " ";
  background: url(../img/svg/insta.svg);
  background-repeat: no-repeat;
  margin-left: 29.5px;
  margin-top: 29.5px;
  position: absolute;
  width: 22px;
  height: 22px;
}
.list__link {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background: #E1E1E1;
    position: relative;
}

.discount {
  padding-right: 60.5px;
}

.discount__title {
  font-family: 'RobotoBold', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.discount__text {
  padding-top: 10px;
  color: #444444;
  font-size: 16px;
  line-height: 22px;
}

/*--/Footer--/